@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.hero {
    max-width: 550px;
    min-width: none;
    max-height: 55px;
    background-color: #F55A5A;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.hero #globe{
    margin-top: 12px;
    margin-right: 10px;
}

.country > img {
    display: inline;
}
